[submodule "lyswe-vehicle"]
	path = lyswe-vehicle
	url = git@bitbucket.org:lightyear-company/lyswe-vehicle.git
[submodule "paper/UseLATEX"]
	path = paper/UseLATEX
	url = https://gitlab.kitware.com/kmorel/UseLATEX.git
[submodule "logical_simulation/cmake"]
	path = logical_simulation/cmake
	url = https://github.com/omnetpp/cmake.git
[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "can_simulation/omnetpp-cmake"]
	path = can_simulation/omnetpp-cmake
	url = git@github.com:StephanOostveen/omnetpp-cmake.git
[submodule "can_simulation/FiCo4OMNeT"]
	path = can_simulation/FiCo4OMNeT
	url = git@github.com:StephanOostveen/FiCo4OMNeT.git
